- model_class = PromotionAction
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:promotion_id) + ':'
  %br
  = @promotion_action.promotion_id
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  %br
  = @promotion_action.amount
%p
  %strong= model_class.human_attribute_name(:billing_description) + ':'
  %br
  = @promotion_action.billing_description
%p
  %strong= model_class.human_attribute_name(:discount_type) + ':'
  %br
  = @promotion_action.discount_type
%p
  %strong= model_class.human_attribute_name(:identifier) + ':'
  %br
  = @promotion_action.identifier
%p
  %strong= model_class.human_attribute_name(:type) + ':'
  %br
  = @promotion_action.type
%p
  %strong= model_class.human_attribute_name(:coupon_duration) + ':'
  %br
  = @promotion_action.coupon_duration


= link_to t('.back', :default => t("helpers.links.back")), promotion_actions_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_promotion_action_path(@promotion_action), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), promotion_action_path(@promotion_action), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
